@inject SmokeBlog.Core.Security.ISecurityManager securityManager

<html>
<head>
    <title>管理平台</title>
    <base href="/admin/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="~/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/styles/app.css" rel="stylesheet" />

    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/angular-route.min.js"></script>
    <script src="~/scripts/angular-messages.min.js"></script>
    <script src="~/scripts/ui.bootstrap.js"></script>
    <script src="~/scripts/ui.bootstrap.tpls.js"></script>
    <script src="~/scripts/lodash.min.js"></script>

    <script src="~/apps/app.js"></script>
    <script src="~/apps/services/api.js"></script>
    <script src="~/apps/directives/spinner.js"></script>
    <script src="~/apps/controllers/main.js"></script>
    <script src="~/apps/controllers/user.js"></script>
</head>
<body ng-app="blogAdmin" ng-controller="mainCtrl">
    <div id="Container" class="app-wrapper">
        <div id="wrap">
            <nav class="navbar navbar-inverse admin-views-nav" role="navigation">
                <div class="container">
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <span class="navbar-brand">Smoke Blog</span>
                        <ul class="nav navbar-nav">
                            <li ng-repeat="menu in vm.menus" ng-class="{'active': vm.currentMenu.key == menu.key}">
                                <a ng-href="{{menu.url}}">{{menu.name}}</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle ng-binding" data-toggle="dropdown"><i class="fa fa-user"></i> admin <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/" target="_blank" class="ng-binding"><i class="fa fa-home"></i>查看我的博客</a></li>
                                    <li><a href="/admin/#/users/profile" class="ng-binding"><i class="fa fa-user"></i>个人资料</a></li>
                                    <li><a href="/Account/change-password.aspx" class="ng-binding"><i class="fa fa-key"></i>更改密码</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li><a class="text-danger logoff ng-binding" href="/Account/login.aspx?logoff"><i class="fa fa-power-off"></i>注销</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="admin-views-subnav" ng-if="vm.submenus && vm.submenus.length">
                <div class="container">
                    <ul class="nav nav-pills">
                        <li ng-repeat="menu in vm.submenus" ng-class="{'active': vm.currentSubmenu.key == menu.key}">
                            <a ng-href="{{menu.url}}">{{menu.name}}</a>
                        </li>
                    </ul>
                </div>
            </nav>            
            
            <div ng-view>
                13131
            </div>
        </div>
        <footer id="footer">
            <div class="container ng-scope">
                <div class="BlogEngine-app pull-left">
                    <a href="http://dotnetblogengine.net" target="_blank" class="ng-binding">BlogEngine.NET 3.1.0.1</a> |
                    <a href="http://dotnetblogengine.net/Donate.aspx" target="_new" id="donate" class="ng-binding">捐赠</a>
                </div>
                <a class="logo-brand pull-right" target="_blank" href="http://dotnetblogengine.net/"><img src="../Content/images/logo-footer.png" alt="BlogEngine.NET"></a>
            </div>
        </footer>
    </div>
</body>
</html>