<div class="widget">
    <div class="widget-content">
        <form action="@Url.Action("Index", "Home")" class="input-group">
            <input type="text" class="form-control" placeholder="输入关键字" value="@ViewBag.Keywords" name="keywords">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">搜索</button>
            </div>
        </form>
    </div>
</div>