<div class="container">
    <div class="page-header clearfix">
        <h2 class="page-title pull-left">
            管理用户 
            <spinner loading="vm.loading"></spinner>
        </h2>
        <button data-ng-click="vm.addUser()" class="btn btn-success btn-header pull-right" type="button"><i class="fa fa-plus"></i>新增用户</button>
    </div>
    <table class="table table-bordered table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th class="table-item-title">用户名</th>
                <th>昵称</th>
                <th class="hmax479">E-mail</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.userList">
                <td class="table-item-title">{{user.userName}}</td>
                <td>{{user.nickname}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="javascript:void(0)" ng-click="vm.editUser(user)">编辑</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>