@model SmokeBlog.Core.Models.Comment.CommentData

<li class="media comment-item">
    <div class="pull-left comment-gravatar ">
        <img src="http://gravatar.duoshuo.com/avatar/0cc175b9c0f1b6a831c399e269772661.jpg?d=wavatar" width="72">
        <div class="carrow"></div>
    </div>
    <div class="media-body">
        <div class="comment-content ">
            <div class="comment-header clearfix">
                <h4 class="media-heading pull-left"><span class="fn">@Model.Nickname</span></h4>
                <small class="pull-right text-muted text-uppercase">@Model.PostDate.ToString("yyyy-MM-dd HH:mm:ss")</small>
            </div>

            <blockquote style="width:100%;">
                <div>
                    <i>哈哈哈</i>
                    发表于
                    <i>2014-1-1</i>
                </div>
                <p>
                    田坎中心小学的幼儿园小班班主任吴涵丹记得，6月9日下午第一节休息课，张家四兄妹中最小的妹妹小微，还开心地在操场上玩呼啦圈，没有任何异常。

                    然而，从5月8日开始，张家兄妹中的大哥小刚，和两个妹妹小玉、小秀已有32天没出现在课堂了。小微曾对哥哥姐姐的班主任解释，“哥哥姐姐在家里睡觉、做事情。”

                    5月11日，三位班主任曾到张家家访，多次敲门也没得到回应。

                    住在四兄妹家西边80米处的二爷爷张仕贵回忆，事发当天6月9日晚约10点，曾有政府工作人员来敲他的门，“有十来个人，和我说，他们已经去孩子家中做过工作，让他们去上学，孩子也答应了。”

                    张仕贵当时也没来得及问工作人员是怎么和孩子说的。他们离开后大约半小时，躺下的张仕贵再次被敲门声惊醒，邻居张启付慌慌张张跑来告诉他：“孩子出事了。”
                </p>
                
            </blockquote>
            <p>
                @Model.Content</p>
            <div class="text-right reply-to">
                <a href="javascript:void(0)" onclick="replyTo(@Model.ID)">回复</a>
            </div>
        </div>
    </div>
</li>