<div class="container">
    <div class="page-header clearfix">
        <h2 class="page-title pull-left">
            分类管理
            <spinner loading="vm.loading"></spinner>
        </h2>
        <button data-ng-click="vm.addCategory()" class="btn btn-success btn-header pull-right" type="button"><i class="fa fa-plus"></i>新增分类</button>
    </div>
    <table class="table table-bordered table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th class="table-item-title">名称</th>
                <th>文章</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in vm.categoryList">
                <td class="table-item-title">{{category.name}}</td>
                <td>{{category.articles}}</td>
                <td>
                    <a href="javascript:void(0)" ng-click="vm.editCategory(category)">编辑</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>