<div class="modal-header">
    修改密码
</div>
<div class="modal-body">
    <form class="form-horizontal" name="frmUser" novalidate>
        <div class="form-group">
            <label class="control-label col-md-2">昵称</label>
            <div class="col-md-6">
                <input type="text" name="nickname" ng-model="vm.user.nickname" class="form-control" required maxlength="20" />
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-if="!frmUser.submitted">(必填)</span>
                <span class="help-block" ng-messages="frmUser.nickname.$error" ng-if="frmUser.submitted">
                    <span class="text-danger" ng-message="required">昵称不能为空</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">邮箱</label>
            <div class="col-md-6">
                <input type="email" name="email" ng-model="vm.user.email" class="form-control" required maxlength="100" />
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-if="!frmUser.submitted">(必填)</span>
                <span class="help-block" ng-messages="frmUser.email.$error" ng-if="frmUser.submitted">
                    <span class="text-danger" ng-message="required">邮箱不能为空</span>
                    <span class="text-danger" ng-message="email">请输入正确的邮箱</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">昵称</label>
            <div class="col-md-6">
                <input type="text" name="nickname" ng-model="vm.user.nickname" class="form-control" required maxlength="20" />
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-if="!frmUser.submitted">(必填)</span>
                <span class="help-block" ng-messages="frmUser.nickname.$error" ng-if="frmUser.submitted">
                    <span class="text-danger" ng-message="required">昵称不能为空</span>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-default" ng-click="vm.close()">取消</button>
        <button type="button" class="btn btn-primary" ng-click="vm.submit(frmUser)">提交</button>
    </div>
</div>